<section class="bg-white-50 white:bg-white-900 p-3 sm:p-5">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <!-- Start coding here -->
        <div class="bg-white dark:bg-green-900/90 relative shadow-md sm:rounded-lg overflow-hidden">
                <div class="w-full md:w-1/2">
                    <form class="flex items-center">
                        <div class="relative w-50">
                            <a href="#" class="bg-green-900/90 border border-green-900=/90 text-white-900/90 text-sm focus:ring-primary-500 focus:border-primary-500 block w-full p-2 dark:bg-green-900 dark:border-green-900/90 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                    </form>
                </div>
            <div class="overflow-x-auto">
                <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-white uppercase bg-green-50 dark:bg-green-600 dark:text-white">
                        <tr>
                            <th scope="col" class="px-4 py-3">Level Description</th>
                            <th scope="col" class="px-4 py-3">Minimun Score</th>
                            <th scope="col" class="px-4 py-3">Maximum Score</th>
                            <th scope="col" class="px-4 py-3">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="border-b dark:border-gray-700">
                            <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">Apple iMac 27&#34;</th>
                            <td class="px-4 py-3">PC</td>
                            <td class="px-4 py-3">Apple</td>
                            <td class="px-4 py-3">
                                <button type="button">Edit</button>
                                <br>
                                <button>Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </section>